.DS_Store
.lein-repl-history
.lein-failures
.nrepl-port
.*.swp
*.class
/target/
resources/ctia.properties
test/java/build/
.#*
resources/*.backup*
resources/ctia.properties.*
data/**/*.edn
pom.xml
/checkouts
.dir-locals-2.el
.lsp/
.clj-kondo/.cache
.clj-kondo/cache
.shadow-cljs/
resources/frontend/public/js/