language: clojure
lein: 2.9.1
dist: trusty

branches:
  only:
  - master
  - release
  - /^rel-[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])$/
  - /^v[0-9]+(.[0-9]+)+$/

env:
    global:
      - LOG_DIR=$HOME/log
      - BIN_DIR=$HOME/bin
      - LEIN_ROOT=1
      - CTIA_MAJOR_VERSION=1
      - COMPOSE_URI=https://github.com/docker/compose/releases/download/1.9.0
      - COMPOSE_BIN=$HOME/bin/docker-compose-1-9-0
      - COMPOSE_LOG=$HOME/log/docker-compose.log
      - CTIA_STORE_ES_DEFAULT_HOST=127.0.0.1
      - CTIA_STORE_ES_DEFAULT_INDEXNAME=elasticsearch
      - CTIA_STORE_ES_DEFAULT_CLUSTERNAME=elasticsearch
      - CTIA_HOOK_ES_HOST=127.0.0.1
      - CTIA_HOOK_ES_PORT=9200
      - CTIA_HOOK_ES_INDEXNAME=elasticsearch
      - CTIA_HOOK_REDIS_URI=redis://127.0.0.1:6379
      - SHELLCHECK_VERSION=v0.7.1 # "stable" or "v0.4.7", or "latest"
      # https://stackoverflow.com/a/34809448
      # travis allows 5 concurrent builds for open source plans
      # across org
      - CTIA_NSPLITS=5
      - CTIA_TEST_SUITE=ci
      # only used in deploy job.
      # must support SNI https://github.com/pypa/pypi-support/issues/978
      - PYTHON_VERSION=2.7.18

# Cache our Maven deps to be kind to clojars, github, docker images
cache:
    directories:
    - $HOME/bin
    - $HOME/.m2
    - $HOME/.cache/pip
    - $HOME/.cache/pyenv
    - docker_images

# default jdk for testing and (always) deployment.
# others tested in cron job.
jdk:
  - openjdk11

# define stage order
stages:
  - test
  - deploy

matrix: #note: don't use "jobs:" introduces an extra build
  include:
    # dummy build to ease transition to GitHub Actions
    - stage: test
      if: type = pull_request
      before_install: skip
      install: skip
      before_script: skip
      script: skip
      after_script: skip

    # Main build
    # ==========
    # Parallelizes the tests using ${CTIA_NSPLITS} TravisCI jobs.
    #
    # To split tests, set CTIA_THIS_SPLIT=n CTIA_NSPLITS=m, where m is the
    # total number of splits, and n is a number in (clojure.core/range m)
    # unique to the container which identifies which chunk
    # of the tests to run.
    #
    #  eg., CTIA_THIS_SPLIT=0 CTIA_NSPLITS=2 lein test       ; run the first half of the tests
    #  eg., CTIA_THIS_SPLIT=1 CTIA_NSPLITS=2 lein test       ; run the second half of the tests
    #
    # Notes:
    # - this is currently not the case, but it would be nice if the jdk
    #   tested here matched with
    #     https://github.com/threatgrid/tenzin/blob/master/nextgen/saltstack/srv/salt/openjdk/defaults.yml
    # - IMPORTANT! Must include split build id's from in (range ${CTIA_NSPLITS}).
    #    Nothing ensures this is actually true, so make sure it is!
    - stage: test
      name: "JDK 11"
      if: type = push
      env: CTIA_THIS_SPLIT=0
    - name: "JDK 11"
      if: type = push
      env: CTIA_THIS_SPLIT=1
    - name: "JDK 11"
      if: type = push
      env: CTIA_THIS_SPLIT=2
    - name: "JDK 11"
      if: type = push
      env: CTIA_THIS_SPLIT=3
    - name: "JDK 11"
      if: type = push
      env: CTIA_THIS_SPLIT=4

    # Cron jobs:
    # ==========
    # Note:
    # - cron jobs are created here: https://travis-ci.com/threatgrid/ctia/settings
    # - they repeat around the same time as initially started
    # - we deploy (also) during cron jobs in the 'deploy' stage
    # - generative tests are disabled and are instead run in Actions
    - name: "JDK 11"
      if: type = cron
      env:
        - CTIA_TEST_SUITE=ci
        - CTIA_THIS_SPLIT=0
        - CTIA_NSPLITS=2
    - name: "JDK 11"
      if: type = cron
      env:
        - CTIA_TEST_SUITE=ci
        - CTIA_THIS_SPLIT=1
        - CTIA_NSPLITS=2

    # Deploy
    # ======
    # fan in and deploy on master branch
    - stage: deploy
      # also deploy after every cron job. helps minimize issues with
      # 'push' deployment races.
      if: type = cron || type = push
      # don't need docker, but let's install the python version we need to deploy
      before_script:
        # https://github.com/diyan/pywinrm/blob/667703f3ddebc67cab72d86620315c739bfd7262/.travis.yml#L26-L39
        # Always use latest pyenv but keep installed Python versions in cache
        - rm -rf ~/.pyenv
        - git clone https://github.com/pyenv/pyenv.git ~/.pyenv
        - mkdir -p ~/.cache/pyenv/versions
        - which pyenv
        - printenv
        - ln -s ~/.cache/pyenv/versions ~/.pyenv/versions
        - export PATH="$HOME/.pyenv/shims:$HOME/.pyenv/bin:$PATH"
        - export PYENV_ROOT="$HOME/.pyenv"
        - pyenv --version
        - pyenv install --skip-existing $PYTHON_VERSION
        - pyenv global $PYTHON_VERSION
        - pyenv rehash
        - python --version
      script: ./build/build.sh     # tests already pass

before_install:
    # upgrade shellcheck (https://github.com/koalaman/shellcheck#installing-a-pre-compiled-binary)
    - wget -qO- "https://github.com/koalaman/shellcheck/releases/download/${SHELLCHECK_VERSION?}/shellcheck-${SHELLCHECK_VERSION?}.linux.x86_64.tar.xz" | tar -xJv
    - cp "shellcheck-${SHELLCHECK_VERSION}/shellcheck" "${BIN_DIR}"
    - shellcheck --version
    # run shellcheck
    - ./scripts/shellcheck-build.sh

    # ES5 needs this
    - sudo sysctl -w vm.max_map_count=262144

    # create log dir if missing
    - mkdir -p $LOG_DIR

    #https://github.com/travis-ci/travis-ci/issues/5227
    - echo "127.0.0.1 "`hostname` | sudo tee /etc/hosts

    # load docker cache
    - docker load -i docker_images/images.tar || true

    # install docker-compose if not in cache
    - if [ ! -f $COMPOSE_BIN ]; then curl -L {$COMPOSE_URI}/docker-compose-`uname -s`-`uname -m` > $COMPOSE_BIN; fi
    - chmod +x $COMPOSE_BIN


before_cache:
  - docker save -o docker_images/images.tar $(docker images -a -q)

before_script:
    - $COMPOSE_BIN -f containers/dev/docker-compose.yml up -d> $COMPOSE_LOG
    # Wait ES
    - until curl http://127.0.0.1:9205/; do sleep 1; done
    - until curl http://127.0.0.1:9207/; do sleep 1; done
    # Wait Kafka
    - until echo dump | nc 127.0.0.1 2181 | grep brokers; do sleep 1; done

services:
    - docker

script:
  - ./build/run-tests.sh

notifications:
  email:
    if: type = cron || (type = push && branch = master)
    on_success: never
    on_failure: always
    recipients:
      # Ambrose BS
      - secure: "DOY49GeLHCvt6EU9TSPO+gmXNKR8x4b+VpKkF/YxB8Kq/SrNpReF1RXoa3IVNwFirLzRyfa9yIL6oQYugwXDK6T89y1zLl39gKsI1HAHBWirCiLEWWTp2PJT+wRZ3wOVOPLDZm6iaSUJIu2bc+kne5ve+nfeuLifwwZhUNk8Y4YNF2r8ZxUm9PtmcjEKS7eswWTtY6WCZ1WyFEE0xZ57ZV3lSTSp9u+fJbMylq1nzEDhjPOhtedlQEhnmaIbtCX5wkdyhu/YYVClaCFnqwCWXBPtwTnLGKs4m8zphZ51plm5l4uNhylRxrkd1xTQg6f/YDvvI6Z0fGVlHbNDooBMimsAKd4AKH/dO33tIuSo22Of7KUXpTq2UIUGnBvxnJKQJgHwG6/FDwvCm/hx0t7ed/DjwiSqPWb2GCKoUNqtLZG3HDQGSs3n5abDWRBoROdWPGUD/a+OIeZCgLwEhHPPBhKMlgVyu//RMbtcfSseIp4RatXE1S+ORcsUT7AqOdPulLen3ZEXKIqcaDszb3D565OHz8PUFsXDuNN1XwkmDE8GCAT3qHhfZ0OqZXeKc2QiqJL//oREEeMB6jtLJR5Kb6EKBB8Z0p3chKSM00J8x0vyw6cnYOAl8/gYForjaOuJhNVX8yP2y28vsb27JNNGUFmRAcXaO2/xrE224szJImA="
      # Guillaume Ereteo
      - secure: "FfeFZk3RAl1zVsJ1drQqL4G0DrZLhL86VQAAss9bwOC+ukjq3oAmC1PhlkUjGEi9d3kNFjsDSgiqjn3XqbGs5nhwIS2EmbIeptv0UYuBC+5Z2ZaPMSI8VSDuyeh36NbET7FR5PYANizi4bqz9ujhVNRSYMBqI5Xx0BDEMT3+palAEhdKnL01kZMxs6xP0O81vSsZn18j8N8zLkNjh76HzxhgaAzoaUGBI0KvfR2q4tTzApXJlQTpvxg6iopNiA+FyUbXYpmC4/IgobJbhanqVoN3SIbGx9FeFKcboKhYqdt3rRM5NYnVn1TKkn55dwdGxxzNjuB6siMPZ1oJ5jgU44pi83lR17vA6HGrFyyU9RcjqJd0QV5FN/qyUIMGRBSggl/yCgNvjtdVO9EfWZytKZnsh6g7QNOSjSUm3Rk9K+2q0FDJE58x9y2xeKJ4rPeITo+JAIzyHBYtdCojFH7ydAZixSO80wwYqVRbz9H92xyNQIAkb5rRnJc2827pVHY3xlRsIPi0OYHdkzFIRslf21NLg60c/WufZjkZNbwupXcdiRKlQQWzkSoEvZ85d5MOF141v+3nV9GOMtwjksXjZIqfI9zB3eQmpsovt9yvONQYWlrVtnrc7vbmasN+Pr+GvkA6cr6AeLzuX90vt0V1xjuszxxvtYgQfO9Hcdb1vt0="
