language: clojure
lein: lein2
script: lein2 do clean, javac, test :all

# Cache our Maven deps to be kind to clojars
cache:
    directories:
    - $HOME/.m2
jdk:
    - openjdk7
    - oraclejdk7
    - oraclejdk8
# branches:
#     only:
#         - master
before_script:
    # Wait ES
    - until curl http://localhost:9200/; do sleep 1; done
services:
    - elasticsearch
# notifications:
#   hipchat: [api token]@[room id or name]
env:
    - CTIA_STORE_ES_URI=http://127.0.0.1:9200 CTIA_STORE_ES_HOST=127.0.0.1 CTIA_STORE_ES_INDEXNAME=elasticsearch CTIA_PRODUCER_ES_URI=http://127.0.0.1:9200 CTIA_PRODUCER_ES_INDEXNAME=elasticsearch JVM_ARGS="-XX:MaxPermSize=256m"
