{ctia.http.routes.graphql.attack-pattern-test
 {:elapsed-ns 17747575636},
 ctia.task.migration.migrations-test {:elapsed-ns 15087186},
 ctia.test-helpers.pagination {:elapsed-ns 307609},
 ctia.http.routes.observable.judgements-indicators-test
 {:elapsed-ns 5141896682},
 ctia.http.routes.graphql.investigation-test
 {:elapsed-ns 7277286997},
 ctia.http.routes.graphql.weakness-test {:elapsed-ns 47378215802},
 ctia.http.routes.graphql.incident-test {:elapsed-ns 26068312674},
 ctia.lib.keyword-test {:elapsed-ns 3078979},
 ctia.bulk.routes-test {:elapsed-ns 29263569174},
 ctia.entity.sighting-test {:elapsed-ns 49338754361},
 ctia.entity.identity-assertion-test {:elapsed-ns 18965805974},
 ctia.http.routes.graphql-test {:elapsed-ns 75647841175},
 ctia.stores.es.init-test {:elapsed-ns 3532736900},
 ctia.store-service-test {:elapsed-ns 406712},
 ctia.entity.target-record-test {:elapsed-ns 22816458990},
 ctia.lib.utils-test {:elapsed-ns 11296820},
 ctia.flows.events-test {:elapsed-ns 2810190429},
 ctia.http.routes.observable.verdict-test {:elapsed-ns 23299595578},
 ctia.task.migration.store-test {:elapsed-ns 184780057745},
 ctia.test-helpers.core-test {:elapsed-ns 93466293},
 ctia.http.routes.swagger-json-test {:elapsed-ns 3061020008},
 ctia.encryption.default-test {:elapsed-ns 53467779},
 ctia.entity.entities-test {:elapsed-ns 2526629051},
 ctia.lib.redis-test {:elapsed-ns 897337862},
 ctia.entity.data-table-test {:elapsed-ns 8881400004},
 ctia.test-helpers.benchmark {:elapsed-ns 406411},
 ctia.http.handler-test {:elapsed-ns 1184297},
 ctia.flows.hooks.redis-event-hook-test {:elapsed-ns 969155591},
 ctia.http.routes.graphql.vulnerability-test
 {:elapsed-ns 44382920535},
 ctia.http.generative.properties {:elapsed-ns 162901},
 ctia.test-helpers.auth {:elapsed-ns 110399},
 ctia.schemas.graphql.pagination-test {:elapsed-ns 9282027},
 ctia.entity.asset-test {:elapsed-ns 25149010558},
 ctia.test-helpers.access-control {:elapsed-ns 151500},
 ctia.entity.asset-mapping-test {:elapsed-ns 24176539810},
 ctia.entity.judgement-test {:elapsed-ns 64214317898},
 ctia.entity.attack-pattern-test {:elapsed-ns 38100689995},
 ctia.flows.hooks-test {:elapsed-ns 3609203300},
 ctia.encryption-test {:elapsed-ns 618437681},
 ctia.entity.campaign-test {:elapsed-ns 46002249493},
 ctia.auth.threatgrid-test {:elapsed-ns 227128444},
 ctia.schemas.graphql.sorting-test {:elapsed-ns 990898},
 ctia.stores.es.crud-test {:elapsed-ns 39292506966},
 ctia.http.routes.observable.sightings-test {:elapsed-ns 5206600249},
 ctia.test-helpers.migration {:elapsed-ns 142101},
 ctia.task.migration.migrate-es-stores-test
 {:elapsed-ns 135208994478},
 ctia.entity.web-test {:elapsed-ns 35365187335},
 ctia.schemas.graphql.helpers-test {:elapsed-ns 59154404},
 ctia.http.handler.allow-all-test {:elapsed-ns 734015856},
 ctia.test-helpers.fake-whoami-service {:elapsed-ns 483613},
 ctia.features-service-test {:elapsed-ns 2843803474},
 ctia.entity.relationship-test {:elapsed-ns 91955261283},
 ctia.http.generative.es-store-spec {:elapsed-ns 156800},
 ctia.http.routes.observable.sightings-incidents-test
 {:elapsed-ns 4744748740},
 ctia.http.server-test {:elapsed-ns 3127421325},
 ctia.entity.vulnerability-test {:elapsed-ns 86881967692},
 ctia.http.handler.static-auth-anonymous-test
 {:elapsed-ns 1628009588},
 ctia.entity.feed-test {:elapsed-ns 100990572686},
 ctia.test-helpers.crud {:elapsed-ns 170001},
 ctia.entity.actor-test {:elapsed-ns 63545248177},
 ctia.flows.hooks.redismq-event-hook-test {:elapsed-ns 958528037},
 ctia.flows.hooks.kafka-event-hook-test {:elapsed-ns 8417616010},
 ctia.auth.jwt-test {:elapsed-ns 19414144},
 ctia.entity.feedback-test {:elapsed-ns 9014090680},
 ctia.test-helpers.store {:elapsed-ns 131000},
 ctia.entity.malware-test {:elapsed-ns 40151369806},
 ctia.task.check-es-stores-test {:elapsed-ns 10295852846},
 ctia.entity.investigation-test {:elapsed-ns 41223098179},
 ctia.test-helpers.field-selection {:elapsed-ns 461913},
 ctia.http.routes.observable.sightings-indicators-test
 {:elapsed-ns 5581339194},
 ctia.entity.casebook-test {:elapsed-ns 88000808649},
 ctia.entity.event.obj-to-event-test {:elapsed-ns 2815794},
 ctia.http.handler.static-auth-test {:elapsed-ns 857122134},
 ctia.entity.weakness-test {:elapsed-ns 104762051007},
 ctia.test-helpers.graphql {:elapsed-ns 437112},
 ctia.test-helpers.aggregate {:elapsed-ns 2929909},
 ctia.http.routes.pagination-test {:elapsed-ns 16660153121},
 ctia.domain.access-control-test {:elapsed-ns 92929006},
 ctia.task.rollover-test {:elapsed-ns 30599000509},
 ctia.properties-test {:elapsed-ns 1327708},
 ctia.flows.crud-test {:elapsed-ns 5135944},
 ctia.entity.event-test {:elapsed-ns 8221995905},
 ctia.http.routes.common-test {:elapsed-ns 10341765},
 ctia.test-helpers.search {:elapsed-ns 142200},
 ctia.entity.indicator-test {:elapsed-ns 37997916561},
 ctia.lib.collection-test {:elapsed-ns 1823811},
 ctia.stores.es.mapping-test {:elapsed-ns 1138685140},
 ctia.schemas.utils-test {:elapsed-ns 245901945},
 ctia.test-helpers.core {:elapsed-ns 161901},
 ctia.logger-test {:elapsed-ns 1945809538},
 ctia.stores.identity-store-test {:elapsed-ns 3913405755},
 ctia.events-test {:elapsed-ns 2002873766},
 ctia.bulk.core-test {:elapsed-ns 11653073},
 ctia.http.routes.graphql.tool-test {:elapsed-ns 16974815578},
 ctia.http.routes.graphql.malware-test {:elapsed-ns 19055145652},
 ctia.task.update-mapping-test {:elapsed-ns 4168892404},
 ctia.schemas.graphql.flanders-test {:elapsed-ns 1472638},
 ctia.http.routes.status-test {:elapsed-ns 3586675180},
 ctia.test-helpers.fixtures {:elapsed-ns 124900},
 ctia.task.settings-test {:elapsed-ns 2779193902},
 ctia.bundle.core-test {:elapsed-ns 3703661862},
 ctia.http.middleware.cache-control-test {:elapsed-ns 850648600},
 ctia.entity.asset-properties-test {:elapsed-ns 21696274186},
 ctia.bundle.routes-test {:elapsed-ns 97763554123},
 ctia.entity.tool-test {:elapsed-ns 45789972279},
 ctia.entity.incident-test {:elapsed-ns 55891742910},
 ctia.http.routes.observable.judgements-test
 {:elapsed-ns 3980080622},
 ctia.test-helpers.es {:elapsed-ns 181202},
 ctia.http.middleware.ratelimit-test {:elapsed-ns 22876192849},
 ctia.test-helpers.http {:elapsed-ns 384211},
 ctia.entity.coa-test {:elapsed-ns 47424280977},
 ctia.http.middleware.auth-test {:elapsed-ns 26959479},
 ctia.http.routes.version-test {:elapsed-ns 7126867600}}
