{:linters
 {:skip-comments true

  :unresolved-symbol
  {:exclude [(puppetlabs.trapperkeeper.testutils.bootstrap/with-app-with-config [app])]}

  :unresolved-var
  {:exclude [clj-momo.lib.clj-time.core/seconds
             taoensso.carmine/unsubscribe
             taoensso.carmine/subscribe
             taoensso.carmine/publish]}}

 :hooks {:macroexpand {ctia.stores.es.store/def-es-store
                       ctia.stores.es.store/def-es-store

                       ctia.schemas.core/def-acl-schema
                       ctia.schemas.core/def-acl-schema

                       ctia.schemas.core/def-stored-schema
                       ctia.schemas.core/def-stored-schema

                       ctia.schemas.core/def-advanced-acl-schema
                       ctia.schemas.core/def-advanced-acl-schema

                       flanders.core/def-enum-type
                       flanders.core/def-enum-type

                       flanders.core/def-entity-type
                       flanders.core/def-entity-type

                       flanders.core/def-eq
                       flanders.core/def-eq

                       flanders.core/def-map-type
                       flanders.core/def-map-type}}

 :lint-as {puppetlabs.trapperkeeper.core/defservice clj-kondo.lint-as/def-catch-all
           ctia.lib.compojure.api.core/GET          compojure.api.core/GET          
           ctia.lib.compojure.api.core/PATCH        compojure.api.core/PATCH        
           ctia.lib.compojure.api.core/POST         compojure.api.core/POST         
           ctia.lib.compojure.api.core/PUT          compojure.api.core/PUT          
           ctia.lib.compojure.api.core/DELETE       compojure.api.core/DELETE       
           ctia.lib.compojure.api.core/context      compojure.api.core/context

           ctia.schemas.core/defschema schemas.core/defschema

           ctia.graphql.delayed/fn schema.core/fn}}
