version: '2'
services:
  redis-dev:
    image: redis
    ports:
      - "6379:6379"
  elasticsearch-dev:
    image: elasticsearch:5.1
    environment:
      - cluster.name=elasticsearch
    ports:
      - "9200:9200"
      - "9300:9300"
#  kibana-dev:
#    image: kibana:5.1
#    ports:
#      - "5601:5601"
#    environment:
#      - ELASTICSEARCH_URL=http://elasticsearch-dev:9200
#    links:
#      - elasticsearch-dev
#  zookeeper:
#     image: wurstmeister/zookeeper
#     ports:
#       - "2181:2181"
#  kafka:
#    image: wurstmeister/kafka
#    build: .
#    ports:
#      - "9092:9092"
#    environment:
#      KAFKA_ADVERTISED_HOST_NAME: 127.0.0.1
#      KAFKA_CREATE_TOPICS: "ctia-events:1:1"
#      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
