; -*- mode: clojure; -*-

(logging/init {:console true})

(let [host "0.0.0.0"]
  (tcp-server {:host host})
  (udp-server {:host host})
  (ws-server  {:host host}))
(instrumentation {:enabled? true})

(periodically-expire 5)

(let [index (index)]
  (streams
   (default :ttl 60
            index
            (expired (fn [event] (info "expired" event))))))


;; Elasticsearch address
(def es-endpoint
  (or (System/getenv "ELASTICSEARCH_URL")
      "http://localhost:9200"))

;; Elasticsearch Application Events
(def elastic-bulk-events
  (elasticsearch-bulk
   {:es-endpoint es-endpoint
    :formatter (default-bulk-formatter
                {:es-index "events"
                 :type "event"
                 :index-suffix "-yyyy.MM"
                 :es-action "index"})}))

(streams
  (where (not (expired? event))
    ;; Forward only Application events to the ES metrics cluster on the events index
    (where (not (service #"^(riemann|jvm\.)"))
      (batch 100 1
             elastic-bulk-events))))

;; vim: ft=clojure
